<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DarkTower.My.MySettings.DarkTowerConnectionString"
            connectionString="Data Source=FS01\SQLEXPRESS;Initial Catalog=DarkTower;User ID=Jason;Password=John316!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>